{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "@zendeskgarden/stylelint-config",
    "stylelint-config-styled-components"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
    "declaration-colon-newline-after": null,
    "declaration-empty-line-before": null,
    "keyframes-name-pattern": null,
    "at-rule-empty-line-before": null,
    "value-keyword-case": ["lower", { "ignoreKeywords": ["dummyValue"] }],
    "block-no-empty": null,
    "number-leading-zero": null,
    "selector-type-no-unknown": null,
    "property-no-unknown": null
  }
}
