version: 2.1
orbs:
  node: circleci/node@5.0.2

references:
  executor: &executor
    executor:
      name: node/default
      tag: lts

  workspace_root: &workspace_root ~/project

  # Combination of https://circleci.com/orbs/registry/orb/circleci/node#commands-with-cache and https://www.gatsbyjs.org/docs/build-caching/#clearing-cache
  gatsby_cache_key: &gatsby_cache_key gatsby-cache-{{ .Environment.CACHE_VERSION }}-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ checksum "gatsby-config.js" }}-{{ checksum "gatsby-node.js" }}

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

  persist_to_workspace: &persist_to_workspace
    persist_to_workspace:
      root: *workspace_root
      paths: .

jobs:
  build:
    <<: *executor
    environment:
      GATSBY_CPU_COUNT: 2
    steps:
      - checkout
      - restore_cache:
          name: Restoring Gatsby Cache
          key: *gatsby_cache_key
      - node/install-packages:
          pkg-manager: yarn
      - save_cache:
          name: Saving Gatsby Cache
          key: *gatsby_cache_key
          paths:
            - ./.cache
            - ./public
      - *persist_to_workspace

  test:
    <<: *executor
    steps:
      - *attach_workspace
      - run: yarn test

  deploy:
    <<: *executor
    steps:
      - *attach_workspace
      - run: utils/deploy.js

workflows:
  main:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          context: writer
